img {
  width: 100%;
}

.post {
  height: auto;
  width: 500px;
  background-color: #F4F0E1;
  box-shadow: 1px 1px 10px grey;
  position: relative;
  z-index: 0;
  padding: 3% 3% 3% 3%;
  margin: auto;
  margin-bottom: 3%;
}

.post-profile {
  height: 15%;
  width: 500px;
  margin-bottom: 30px;
  display: inline-block;
}

.post-profile-img {
  height: auto;
  max-height: 50px;
  width: 10%;
  float:left;
  border-radius: 50%;
  overflow: hidden;
}

.post-profile-name {
  height: 100%;
  width: 40%;
  margin-left: 10%;
  padding: 4% 3% 3% 3%;
  font-weight: bold;
}

.post-profile-img-src {
  height: 100%;
  width: 100%;
}

.post-text {
  height: 20%;
  width: 100%;
}

.post-img {
  height: 65%;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.post-img-src {
  width: 100%;
  float: left;
  display:block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.post-img-map:hover {
  height: 70px;
  width: 70px;
  left: 83%;
  top: 10px;
  z-index: 1;
  box-shadow: 1px 1px 12px black;
  position: relative;
  border-radius: 50%;
  background-color: #FF4C70;
  cursor: pointer;
}

.post-img-map {
  height: 70px;
  width: 70px;
  left: 83%;
  top: 10px;
  z-index: 1;
  box-shadow: 1px 1px 8px black;
  position: relative;
  border-radius: 50%;
  background-color: #FF4C70;
}

.post-img-map-icon {
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  z-index: 2;
  position: absolute;
}

.box {
  box-sizing:border-box;
}
